
##Instructions for In Class Activity 1

You must find all errors in your scripts. But because you are communicating with a machine, not a person, you have to be exact: the computer cannot understand you at all if there are errors, bugs, in your code. Or the computer may do exactly what you wrote, but not what you meant to do.

Add a comment to the file that describes what you did.

Change the file name to "your name In Class Activity 1" and hand in these corrected Python scripts!

Question 1

In [1]:
x = 15
y = 5
z = 3
# removed y=0
k = x / y
print(k)

3.0

Question 2

In [3]:
x = 10
y = 20
z = 30
print(x, y, z) # removed indent

10 20 30

Question 3

In [4]:
# This program converts miles to km

miles = 10
multiplier = 1.609344
km = miles * multiplier #changed "multplier" to "multiplier"
print(km)

16.09344

Question 4

In [6]:
x = 1
y = 10
z = 2
t = 15
print((x * t) / (y / z)) #added additional )
print('Done')

3.0
Done

Question 5

In [7]:

fruit = "kiwi"
print(fruit, fruit, fruit) # corrected "frut" to "fruit"

kiwi kiwi kiwi